# -----------------------
# worker (Node.js)
# -----------------------
/worker/node_modules
/worker/.env
/worker/package-lock.json
/worker/index.log

# worker data/cache
/worker/data_response

# -----------------------
# web (Next.js)
# -----------------------
/web/node_modules
/web/.next
/web/out
/web/.env*
/web/package-lock.json
/web/coverage

# Next.js build outputs
/web/.vercel

# -----------------------
# Common / Misc
# -----------------------
.DS_Store
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
/web/next-env.d.ts
